language: node_js
node_js:
    - "0.10.33"
before_install:
    - npm cache clean
    - npm update npm -g
    - npm install -g bower grunt-cli
install:
    - npm install --save-dev
    - bower install
script: grunt test --verbose